In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [51]:
OuterIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [52]:
InnerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [53]:
hier = list(zip(OuterIndex,InnerIndex))
hier

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [54]:
hier = pd.MultiIndex.from_tuples(hier)

In [55]:
hier

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [56]:
df = pd.DataFrame(randn(9,3),index = hier, columns = ["Col1","Col2","Col3"])

In [57]:
df

                   Col1      Col2      Col3
Group1 Index1  0.078136  1.090140 -0.411900
       Index2  1.038804 -0.187258 -0.505980
       Index3  1.008693 -0.457127  0.556175
Group2 Index1 -0.911684  0.018255  0.571960
       Index2  0.271979  0.828589 -0.687041
       Index3  0.537438 -2.201697 -0.412498
Group3 Index1 -0.082227 -0.255715 -2.503843
       Index2 -1.391324  0.231350  1.394125
       Index3 -0.744910  0.768028  0.399485

In [63]:
df["Col1"]

Group1  Index1    0.078136
        Index2    1.038804
        Index3    1.008693
Group2  Index1   -0.911684
        Index2    0.271979
        Index3    0.537438
Group3  Index1   -0.082227
        Index2   -1.391324
        Index3   -0.744910
Name: Col1, dtype: float64

In [67]:
df.loc["Group1"].iloc[1]

Col1    1.038804
Col2   -0.187258
Col3   -0.505980
Name: Index2, dtype: float64

In [70]:
df.loc[["Group1","Group2"]]

                   Col1      Col2      Col3
Group1 Index1  0.078136  1.090140 -0.411900
       Index2  1.038804 -0.187258 -0.505980
       Index3  1.008693 -0.457127  0.556175
Group2 Index1 -0.911684  0.018255  0.571960
       Index2  0.271979  0.828589 -0.687041
       Index3  0.537438 -2.201697 -0.412498

In [71]:
df

                   Col1      Col2      Col3
Group1 Index1  0.078136  1.090140 -0.411900
       Index2  1.038804 -0.187258 -0.505980
       Index3  1.008693 -0.457127  0.556175
Group2 Index1 -0.911684  0.018255  0.571960
       Index2  0.271979  0.828589 -0.687041
       Index3  0.537438 -2.201697 -0.412498
Group3 Index1 -0.082227 -0.255715 -2.503843
       Index2 -1.391324  0.231350  1.394125
       Index3 -0.744910  0.768028  0.399485

In [73]:
df.index.names

FrozenList([None, None])

In [74]:
df.index.names = ["Groups","Indexes"]

In [75]:
df

                    Col1      Col2      Col3
Groups Indexes
Group1 Index1   0.078136  1.090140 -0.411900
       Index2   1.038804 -0.187258 -0.505980
       Index3   1.008693 -0.457127  0.556175
Group2 Index1  -0.911684  0.018255  0.571960
       Index2   0.271979  0.828589 -0.687041
       Index3   0.537438 -2.201697 -0.412498
Group3 Index1  -0.082227 -0.255715 -2.503843
       Index2  -1.391324  0.231350  1.394125
       Index3  -0.744910  0.768028  0.399485

In [76]:
df.loc["Group1"]

             Col1      Col2      Col3
Indexes
Index1   0.078136  1.090140 -0.411900
Index2   1.038804 -0.187258 -0.505980
Index3   1.008693 -0.457127  0.556175

In [80]:
df.xs("Group1")

             Col1      Col2      Col3
Indexes
Index1   0.078136  1.090140 -0.411900
Index2   1.038804 -0.187258 -0.505980
Index3   1.008693 -0.457127  0.556175

In [82]:
df.xs("Group1").xs("Index1").xs("Col2")

1.0901398563791718

In [84]:
df.xs("Index1",level = "Indexes")

            Col1      Col2      Col3
Groups
Group1  0.078136  1.090140 -0.411900
Group2 -0.911684  0.018255  0.571960
Group3 -0.082227 -0.255715 -2.503843